
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLogin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Script/js")
    <link href="~/Content/adminlogin.css" rel="stylesheet" type="text/css" />
</head>
<body >
    <div class="container-fluid login-container">
        <div class="col-md-4"></div>
        <div class="login-form col-md-4 form-group">
       <!--     <div class="form-caption"> -->
                <h2>LOG IN</h2>
            <!--</div>-->
           <!--  <div class="form-content"> -->
                @using (Html.BeginForm("ktrDangNhap", "Admin", FormMethod.Post))
                {
                    @Html.Label("User name", new { @class = "txt" }) <br />
                 <!--   <input type="text" name="user" value="" class="editor form-control" placeholder="username" /> -->
                    @Html.TextBox("user", "", new { @class= "editor form-control" , @placeholder = "username"})
                    @Html.Label("Password", new { @class = "txt" }) <br />
                    <input type="password" name="pass" value="" class="editor form-control" placeholder="password" /> 
                    <input type="checkbox" name="chkgv" value="Giảng Viên" /> <span class="txt txtgv">Giảng Viên</span><br/>
                    <div class="divbutton">
                        <button type="submit" class="btn button btn-primary" value="LOGIN" >LOGIN</button>
                        <button type="reset" class="btn button btn-primary" >CANCEL</button>
                    </div>
                    <span class="txt txtktra">@ViewBag.loi</span>
                }
         <!--   </div>-->
        </div>  
        <div class="col-md-4"></div>
    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>
