<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
            
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/admindashboard.css" rel="stylesheet" type="text/css" />
   
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-2 navigate">
            <div class="brand-logo">
                <img class="img-logo" alt="CUSC STUDENT MANAGEMENT" src="~/Images/logo.png">
            </div> <!-- end logo-->
            
                <hr class="break-line" />
            <div class="menu clearfix">
                <ul class="menu-ul">
                    <li class="menu-li">STUDENT</li>
                    <li class="menu-li">ABSENT</li>
                    <li class="menu-li">DROP OUT</li>

                </ul>
                <hr class="break-line"/>
                <ul class="menu-ul">
                    <li class="menu-li">ACCOUNT</li>
                    <li class="menu-li">LOGOUT</li>
                    

                </ul>
            </div>
        
            
        </div><!-- end side menu-->

        <div class="col-md-10 rederbody">
        @RenderBody()
        </div> <!-- end content -->
    </div>

    
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/monHoc.js"></script>
    
</body>
</html>